h1, h2 {
	font-family: 'Charmonman', cursive;	
	text-shadow: 2px 2px #777;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 3em;
}

body {
	overflow: hidden;
	margin: 0;
	background: #FFFF66;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
}

.white {
	color: #fff;
}

.line__height--m {
	line-height: 2em;
}

.line__height--s {
	line-height: 0.5em;
}

.big {
	font-size: 2em;
}

.mb-5 {
	margin-bottom: 50px;
}

.center-screen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}